Makefile.in
aclocal.m4
autom4te.cache/
config.h.in
configure

Makefile
config.h
config.log
config.status
stamp-h1

*.a

reedsolomon-gal-mul-stdio
reedsolomon-gal-mul-stdio.exe
test-reedsolomon-gal-mul-xor
test-reedsolomon-gal-mul-xor.log
test-reedsolomon-gal-mul-xor.trs
test-suite.log

reedsolomon-*.tar.gz

*.gcda
*.gcno
reedsolomon-*-coverage.info
reedsolomon-*-coverage/
